* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.title-bar {
    font-family: "Lato", sans-serif;
    color: #333;
    margin-bottom: 15px;
    margin-left: 20%;
    width: 270px;
    min-width: 270px;
}

.title-bar h1 a {
    color: #333;
    line-height: 1.5;
    font-size: 40px;
    font-weight: 700;
}

.title-bar .subtitle {
    font-size: 15px;
    line-height: 22px;
}

nav.main-nav {
    width: 100%;
    background-color: #ff3d2e;
}

nav.main-nav li {
    display: inline-block;
}

nav.main-nav a {
    color: #fff;
    text-transform: uppercase;
    font-family: "Poppins";
    font-weight: 500;
    padding: 10px 20px 10px 40px;
    display: inline-block;
}

.primary-slider {
    width: 100%;
}

.primary-slider  img{
    width: 100%;
    opacity: 0.65;
}

.primary-slider header {
    position: relative;
    background-color: #000;
}

.primary-slider .slider-item-title {
    position: absolute;
    top: 40%;
    left: 20%;
    width: 65%;
    min-width: 300px;
    font-family: "Lato";
}

.primary-slider .slider-item-title a {
    color: #fff;
    font-family: 'Poppins';
}

.primary-slider  .slider-item-title h2 a{
    font-weight: 700;
    font-size: 33px;
    line-height: 30px;
}